/* Cambia los colores del form y navbar por el color del body */
body, html {
    height: 100%;
    background-color: #fafcfa;
}

/* Estilos para el formulario */
.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clases para los diferentes fondos */
.bg-fuerte {
    background-color: #61d487;
}

.bg-fBaja {
    background-color: #7bdfa0;
}

.bg-media {
    background-color: #96eab9;
}

.bg-bajo {
    background-color: #b0f4d1;
}

.bg-mBajo {
    background-color: #caffea;
}

