body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-pt-sans: "PT Sans";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-whitesmoke: #eee;
  --color-lightgreen: #9eeb92;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.75);
  --color-mediumaquamarine: #7bcfbd;
  --color-cadetblue-100: #85c5b7;
  --color-lightcyan-100: #d0ede6;
  --color-lightcyan-200: rgba(208, 237, 230, 0.68);

  /* Gaps */
  --gap-8xl: 27px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-mid: 17px;
  --padding-12xl: 31px;
  --padding-3xs: 10px;
  --padding-4xl: 23px;

  /* Border radiuses */
  --br-3xl: 22px;
  --br-30xl: 49px;
}
